.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.parent-form {
  background-color: #3AD886;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

    .form-image-div-b {
      height: 100px;
      width: 100px;
      border: #282c34 solid 2px;
    }

    .form-image-div {
      height: 90%;
      width: 30%;
      border: #282c34 solid 2px;
    }

        .form-image-div-image {
          max-height: 100%;
          max-width: 100%;
        }

.parent-dash {
  height: 200px;
  width: 500px;
  background-color: #D34735;
}

.display-box {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.the-form-and-the-dash {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
